* {
  font-size: 26px;
}

.hide {
  display: none !important;
}

.header div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.quiz-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

/*Quiz Question Styling*/
.quizContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.options button {
  display: grid;
  grid-template-columns: repeat(1, auto);
  margin: 25px 0;
  background-color: rgb(56, 91, 247);
  color: white;
  border-radius: 7px;
  font-size: 20px;
}

.options button:hover {
  box-shadow: inset 0px 0px 20px cornflowerblue, 0 0 10px cornflowerblue;
}
